body{
    margin: 0;
}

ul{
    height: 100%;
    font-size: 25px;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c95cc;
}
  
li{
    float: left;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover{
    background-color: #5cb5f9;
}
.nav{
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
.nav_signin{
    float: right;
}
.nav_signup{
    float: right;
}

main{
    box-sizing: border-box;
    height:100%;
    width: 100%;
    background-image: url(main.jpg);
    background-size: 100% 100%;
    border: 1% solid white;
    text-align: center;
    /*opacity: 0.5;*/
    /*background: #273a6b;*/
    color: white;
    padding: 15% 10%;
}

.word{
    border-left: 2px solid white;
    border-right: 2px solid white;
    outline-style: solid;
    outline-color: white;
    outline-offset: 15px;
}
.word_title{
    font-size: 50px;
    margin: 0;
}
.word_subtitle{
    font-size: 40px;
    margin: 3% 0;
}

.buttons_button{
    font-size: 30px;
    border: none;
    background: #6b85c6;
    color: white;
    border: 1px solid #6b85c6;
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 5%;
}

.buttons_button:hover{
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    background: #4967b2;
    color: white;
    border: 1px solid white;
}


.ad{
    background: black;
    box-sizing: border-box;
    height: 500px;
}